* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100vh;
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
}

:root {
    --primary: #F0F0F0;
    --secondary: #8C8C8C;
    --wabro: #7D5A94;
    --danger:#EC2227;
    --white:#FFF;
    --dark: #000;
    --gray: #505050;
    --orange: #F26522;
    --green: #76B043;
}


/* HEADER */

.banner-img{
    width: 100%;
    padding-top: 50px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 35px;
}

.filter{
    border: none;
    font-weight: 800;
    font-family: cursive;
    background-color: var(--white);
}

.order{
    border: 2px solid var(--primary);
    border-radius: 3px;
    color: var(--gray);
    padding: 5px 15px 5px 5px;
    width: 160px;
    height: 36px;
    font-size: 15px;
    background-color: var(--white);
}

.bread-crumb {
    display: flex;
    list-style: none;
}

.link-main{
    color: var(--secondary);
    font-size: 15px;
}

/* MAIN */

main{
    width: 90%;
    margin: 0 auto;
}

.main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article{
    width: 30%;
    padding-bottom: 54px;
    position: relative;
}

article img{
    width: 100%;
    max-width: 450px;
}

.toy-type{
    color: var(--wabro);
    font-weight: 800;
    margin: 0;
    padding-top: 20px;
}

.funko-name{
    font-size: 15px;
    margin: 0;
}

.interest-free{
    font-size: 15px;
    color: var(--gray);
    margin: 0;
}

.price{
    font-weight: 700;
    font-size: 22px;
}

.container-price{
    font-size: 15px;
    margin: 0;
}

.final-price{
    font-weight: 700;
    font-size: 16px;
}

.price-underline{
    color:var(--secondary);
    text-decoration: line-through;
}

.promo-price{
    color: var(--danger);
    font-weight: 700;
    font-size: 16px;
}

.no-stock{
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: var(--danger);
    padding-left: 5px;
}

.btn-article{
    border: 2px solid var(--dark);
    border-radius: 6px;
    color: var(--dark);
    font-weight: 800;
    font-family: monospace;
    font-size: 17px;
    text-align: center;
    height: 48px;
    width: 151px;
    box-shadow: 3px 3px 0px 0px var(--dark);
    margin-top: 12px;
}

.cart {
    width: 60px;
    height: 48px;
    border-radius: 6px;
    border: 2px solid var(--green);
    background-color: var(--white);
    margin-top: 7px;
}
  
.cart img {
    height: 22px;
    width: 26px;
    left: 4px;
    top: 8px;
    border-radius: 0px;
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 20px;
}

button{
    border: none;
    color: var(--secondary);
    background-color: var(--white);
    width: 36px;
    height: 36px;
}

button.selected{
    border: 2px solid var(--orange);
    border-radius: 12px;
    color: var(--dark);
    font-weight: 800;
}

button:focus{
    outline: none;
}

.btnLeft,
.btnRight{
    border: 1px solid var(--primary);
    border-radius: 24px;
    width: 36px;
    height: 36px;
    text-align: center;
}

.scroll-top{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 25px;
}

.not-found{
    background-color: var(--primary);
    height: 396px;
    order: 1;
}

.promo{
    position: absolute;
    left: 0px;
    top: 55%;
    width: 60px;
    height: 60px;
}

.text-right{
    display: flex;
    justify-content: flex-end;
}

/* Media queries 576px, 768px, 992px y 1200px */

@media(min-width: 576px) {
 
}

@media(min-width: 768px) {

}

@media(min-width: 992px) {

}

@media(min-width: 1200px) {
  
}