<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body>
    <header>
        <img src="/images/banner_listado.png" alt="Banner - CRUCE" class="banner-img">
        <div class="navbar">
            <ul class="bread-crumb">
                <li><a href="/" class="link-main">Inicio</a> /&nbsp;</li>
                <li><a href="/" class="link-main">Juguetes</a> /&nbsp;</li>
                <li><strong>Funko Pop</strong></li>
            </ul>

            <select class="filter">
                <option value="value1" selected>Filtrar</option>
                <option value="value2">Value 2</option>
                <option value="value3">Value 3</option>
            </select>

            <select class="order">
                <option value="value1" selected>Ordenar por</option>
                <option value="value2">Precio</option>
                <option value="value3">Nombre</option>
            </select>
        </div>
    </header>

    <main>
        <section class="main-section">
            <article class="not-found">
            </article>
        </section>
    </main>

    <footer>
        <div class="pagination">
            <button class="btnLeft">
                <img src="/images/left.png" />
            </button>
            <button>
                4
            </button>
            <button>
                5
            </button>
            <button class="selected">
                6
            </button>
            <button>
                7
            </button>
            <button>
                8
            </button>
            <button class="btnRight">
                <img src="/images/right.png" />
            </button>
        </div>

        <div class="scroll-top">
            <img src="/images/scroll-to-top.png" alt="Scroll to top" />
        </div>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>